.menu-toggle {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 11;
  
}

.one, .two, .three {
  background-color: var(--color-fourth);
  height: 3px;
  width: 100%;
  margin: 6px auto;
  transition-duration: 0.3s;
}
