.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 34px;
  background-color: #E5E5E5;
}

.main-header > .sobre {
  margin-left: auto;
  margin-right: 10px;
}

.main-header > .menu {
  width: 25px;
}
